:root {
  --black-01:#151418;
  --gray: #32383e;
  --gray-01: #a7a7a7;
  --light-gray: #f5f5f5;
  --white:#FFFFFF;
  --gold: #d4bb13;
  --blue-green-darker: #097865;
  --blue-green-lighter : #11d6b5;
  --sky-blue: #75d6e7;
  --red-dark: #bd1721;
  --dark-pink: #fe4464;
  --carnation-pink: #ffaebc;
}

.page-background {
  background-color: var(--black-01);
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carn-cont { background-color: var(--carnation-pink);}
.lightgray-cont { background-color: var(--light-gray);}

.announcement-header { background-color: var(--dark-pink); }
.announcement-content { background-color: var(--carnation-pink); }

.header {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: normal;
  color: var(--black-01);
}
.header-icon { width: 3.5rem; margin-right: 5px; }
.header-label { margin: 15px 0; display: inline; vertical-align: middle; }

.table td, .table th {
  vertical-align: middle !important;
  font-size: 12px;
  padding: .5rem;
}

/** Player Statistics */
.table-players { margin-bottom: 0; }
.payout-status { font-size: 11px; }
.slp-container { text-align: center; font-size: 25px; }
.php-earned, .avg-slp, .player-mmr { font-size: 12px; font-weight: normal; }
.percentage { color: var(--black-01); font-size: 12px; }
.avg-slp, .player-mmr { width: auto; text-align: right; padding: 3px 5px; }

/** Wallet */
.wallet-header {
  text-align: center;
  font-weight: 700;
}
#wallet-avg-slp-per-day { font-weight: 700; }
#wallet-player-name {
  font-size: 20px;
  font-weight: 700;
}

.nav-link.active {
  background-color: var(--gray) !important;
  color: var(--white) !important;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background-color: var(--gray-01);
}
.nav-link:not(.active) {
  border-color: var(--white);
  background-color: var(--gray-01);
  color: var(--black-01) !important;
}

/** Header */
.g-head { background-color: var(--blue-green-lighter); }
.sky-head { background-color: var(--sky-blue); }
.p-head { background-color: var(--carnation-pink); }

/** Color */
.white-text { color: var(--white); }
.gold-text { color: var(--gold); }
.pink-text { color: var(--dark-pink); }

/** Padding */
.pd-0 { padding: 0; }
.pd-5 { padding: 5px; }
.pd-10 { padding: 10px; }
.pd-20 { padding: 20px; }
.pdT-5 { padding-top: 5px; }
.pdT-10 { padding-top: 10px; }
.pdB-10 { padding-bottom: 10px; }
.pdB-20 { padding-bottom: 20px; }

/** Margin */
.mg-0 { margin: 0; }
.mgT-3 { margin-top: 3px; }
.mgB-0 { margin-bottom: 0; }
.mgB-20 { margin-bottom: 20px; }

/** Font Size */
.fs-12 { font-size: 12px; }
.fs-13 { font-size: 13px; }
.fs-14 { font-size: 14px; }

.br-upper { border-radius: 4px 4px 0 0; }
.br-bottom { border-radius: 0 0 4px 4px; }
.br-4 { border-radius: 4px; }

/** Image */
.imgsize-icon {
  width: 18px;
  height: 18px;
}

.slp-png {
  width: 12px;
  height: 12px;
  vertical-align: bottom;
}

/** List */
ul {
  padding-left: 20px;
  margin: 0;
}

.tAlign-right {
  text-align: right;
}